.modalHeader {
  padding: 24px;
}

.modalTitle {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  color: #311b12;
}

.modalBody {
  padding: 0;
}

.modalContent {
  padding: 0 20px;
}

.modalButtonGroup {
  padding: 0 20px 20px;
}

.modalInner {
  left: 0;
}
